* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* variables! */
  --boardOutline: 3px solid black;
  --playerbg: rgba(71, 187, 255, 0.822);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: white;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  margin: 10px;
}
body > h2 {
  margin-top: 10vh;
  margin-bottom: 5vh;
}

span > img {
  height: 16px;
  vertical-align: baseline;
  position: relative;
  bottom: -2px;
  filter: opacity(.7);
  cursor: pointer;
}

.gameWrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.player {
  width: 300px;
  height: 350px;
  background-color: var(--playerbg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

.gameContainer {
  height: 500px;
  width: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.gameTile {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing:content-box;
  font-size: 100px;
  cursor: pointer;
}


/* Create Border for game */
.gameTile:nth-child(n+1):nth-child(-n+6){
  border-bottom: var(--boardOutline);
}

.gameTile:nth-child(3n-2){
  border-right: var(--boardOutline);
}

.gameTile:nth-child(3n){
  border-left: var(--boardOutline);
}

#resetBtn {
  margin: 20px;
  padding: 10px 20px;
  background-color: rgb(14, 118, 255);
  color: white;
  border-radius: 5px;
  border: 0;
  box-shadow: 1px 1px 5px rgb(128, 128, 128), -1px -1px 5px rgb(102, 102, 102);
  cursor: pointer;
  font-weight: bold;
}

.tokenSelect {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.tokenSelect > h4 {
  margin-bottom: -5px;
  grid-column: 1 / -1;
  text-decoration:underline;
}

.tokenOption {
  font-size: 60px;
  padding: 10px;
  cursor: pointer;
}

.tokenOption[data-selected="true"]{
  background-color: rgba(255, 255, 255, 0.507);
}

.nameEntry {
  font-size: 48px;
}

abbr {
  text-decoration: none;
}

input{
  font-size: 48px;
  height: 48px;
  width: 100%;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background: rgba(255, 255, 255, 0.219);
  border: none;
}

.selected {
  outline: 4px solid rgb(128, 50, 255);
}

.winner {
  outline: 4px solid rgb(0, 218, 0);
}

.loser {
  outline: 4px solid rgb(218, 0, 36);
}