* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* variables! */
  --boardOutline: 3px solid black;
  --playerbg: rgba(71, 187, 255, 0.822);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  margin: 10px;
}
body > h2 {
  margin-top: 10vh;
  margin-bottom: 5vh;
}

span > img {
  height: 16px;
  vertical-align: baseline;
  position: relative;
  bottom: -2px;
  filter: opacity(.7);
  cursor: pointer;
}

.gameWrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.player {
  width: 300px;
  height: 500px;
  background-color: var(--playerbg);
}

.gameContainer {
  height: 500px;
  width: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.gameTile {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing:content-box;
  font-size: 100px;
  cursor: pointer;
}


/* Create Border for game */
.gameTile:nth-child(n+1):nth-child(-n+6){
  border-bottom: var(--boardOutline);
}

.gameTile:nth-child(3n-2){
  border-right: var(--boardOutline);
}

.gameTile:nth-child(3n){
  border-left: var(--boardOutline);
}

#resetBtn {
  margin: 20px;
}